body {
  background: transparent;
  cursor: none !important;
}

img.inverted,
img.default {
  height: 100px;
  width: 100px;
}

.list-style-2 {
  padding: 0;
}

.social-icons {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.social-icons li {
  margin: 2px 6px;
  padding: 0;
  overflow: visible;
}

.list-style-2 > li {
  list-style-type: none;
  border-bottom: 1px solid #eaeaea;
  padding-top: 12px;
  padding-bottom: 12px;
}

.mfp-content {
  cursor: none !important;
}

.border-start {
  border-left-style: solid;
  border-left-width: 2px;
  border-image: linear-gradient(to bottom, red, rgb(226, 59, 226)) 1 100%;
}

.accordion .accordion-item {
  border: none;
  margin-bottom: 10px;
  margin-bottom: 0.6rem;
  background-color: transparent;
}

.accordion .accordion-header .accordion-button {
  box-shadow: none;
  padding: 1.25rem 1.25rem 1.25rem 2.25rem;
  border-radius: 4px;
  position: relative;
  font-size: 1.125rem;
  font-size: 18px;
  font-weight: 600;
}

.accordion:not(.accordion-flush) .accordion-header .accordion-button {
  background-color: black;
  color: #212529;
}

.accordion:not(.accordion-flush) .accordion-header .accordion-button.collapsed {
  background-color: rgba(0, 0, 0, 0.06);
  color: #4c4d4d;
}

.accordion .accordion-header .accordion-button:after {
  position: absolute;
  content: " ";
  left: 20px;
  top: calc(50% + 2px);
  width: 9px;
  height: 9px;
  border-color: #ccc;
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: none;
}

.accordion .accordion-header .accordion-button.collapsed:after {
  top: calc(50% - 2px);
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
}

.accordion .accordion-body {
  color: white;
  line-height: 1.8;
  padding: 1rem 0 0.4rem 2.25rem;
}

.accordion.arrow-right .accordion-header .accordion-button {
  padding-left: 1.25rem;
}

.accordion.arrow-right .accordion-header .accordion-button:after {
  right: 15px;
  left: auto;
}

.accordion.arrow-right .accordion-body {
  padding-left: 1.25rem;
}

.accordion.accordion-flush .accordion-item {
  margin: 0;
}

.accordion.accordion-flush .accordion-header .accordion-button {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  background: transparent;
  color: var(--accent);
}

.accordion.accordion-flush
  .accordion-item:first-of-type
  .accordion-header
  .accordion-button {
  border-top: 0px;
}

.accordion.accordion-flush .accordion-header .accordion-button:after {
  left: 18px;
}

.accordion.accordion-flush .accordion-header .accordion-button.collapsed {
  color: white;
}

.accordion.accordion-flush .accordion-body {
  padding: 0rem 0 1rem 2.25rem;
}

.accordion.accordion-flush.arrow-right .accordion-header .accordion-button {
  padding-left: 0;
}

.accordion.accordion-flush.arrow-right
  .accordion-header
  .accordion-button:after {
  right: 0px;
  left: auto;
}

.rtl .accordion .accordion-header .accordion-button {
  padding: 1rem 2.25rem 1rem 1.25rem;
}

.rtl .accordion .accordion-header .accordion-button:after {
  left: auto;
  right: 12px;
}

.rtl .accordion .accordion-body {
  padding-right: 2.25rem;
  padding-left: 0;
}

.rtl .accordion.arrow-right .accordion-header .accordion-button {
  padding-right: 1.25rem;
  padding-left: 2.25rem;
}

.rtl .accordion.arrow-right .accordion-header .accordion-button::after {
  left: 20px;
  right: auto;
}

.rtl .accordion.arrow-right .accordion-body {
  padding-right: 1.25rem;
  padding-left: 0;
}

.rtl
  .accordion.accordion-flush.arrow-right
  .accordion-header
  .accordion-button {
  padding-right: 0;
  padding-left: 2.25rem;
}

.rtl
  .accordion.accordion-flush.arrow-right
  .accordion-header
  .accordion-button::after {
  left: 6px;
  right: auto;
}

.grid.text-center {
  height: 400px !important;
}

/* 3D Navbar */
.menu {
  position: fixed;
  height: 100vh;
  right: 0%;
  width: 0;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  transition: 1s !important;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
}
.menu.visible {
  width: 34.5vw;
  background: #f9d401;
  transition: width 1s !important;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
}
.menu.visible ~ .container2 {
  transform: perspective(110vw) rotateY(-10deg) translateX(-17vw) scaleY(1)
    scaleX(0.75) scale(0.9);
  box-shadow: 25px 25px 1px black;
  transition: 1.25s cubic-bezier(0.15, 0.985, 0.22, 1.2);
  outline: none;
}
.menu.visible nav {
  right: 30%;
}
.container2 {
  background: #fdfdfd;
  transition: 1.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.12, 1);
  transform-origin: center;
  margin-right: 0 !important;
  z-index: 999;
}
.container2 .content {
  padding: 100px 20%;
}
nav {
  position: absolute;
  margin-top: 50% !important;
  right: -1000px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
}
nav ul {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
}
nav li {
  line-height: 2em !important;
  letter-spacing: 0.3em !important;
}
nav a {
  font-size: 30px !important;
  padding: 0.5rem 1rem;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: white;
  font-weight: 600;
}
